# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries used by Data Science
- List Open soruce Data Science tools
- Evaluating Arithmetic expression in python

## Author
Manuel Mathews D

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Scala
4. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib
4. SciKit-Learn
5. TensorFlow
6. SciPy

| Data Science Tools |
|:------------------:|
| Jupyter Notebook   |
| Apache Spark       |
| R Programming      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335